# ref: https://jvns.ca/blog/2024/02/16/popular-git-config-options/

[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
	signingkey = {{ ( onepasswordRead (.ssh_personal_key_secret_id | printf "op://Personal/%s/public key") ) | quote}}

[gpg]
	format = ssh

[gpg.ssh]
	allowedSignersFile = "~/.config/git/allowed_signers"
	program = ssh-keygen

[init]
	defaultBranch = main

[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = delta
	quotePath = true
	autocrlf = false

[branch]
	sort = -committerdate

[diff]
	algorithm = histogram
	submodule = log
	context = 10
	colorMoved = default
	colorMovedWS = allow-indentation-change
	tool = nvimdiffs

[status]
	submoduleSummary = true

[web]
	browser = safari

[help]
	autocorrect = 10

[color]
	ui = false

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[github]
	user = {{ .github_user | quote }}
	token = {{ ( onepasswordItemFields .github_token_secret_id ).token.value | quote }}

[gitflow "prefix"]
	versiontag = v

[tag]
	sort = taggerdate

[commit]
	verbose = true
	gpgsign = true

[push]
	autoSetupRemote = true
	followtags = true

[pull]
	rebase = true

[rebase]
	autosquash = true
	autostash = true

[rerere]
	enabled = true

[merge]
	conflictStyle = zdiff3
	tool = nvim

[fetch]
	prune= true

[submodule]
	recurse = false

[transfer]
	fsckobjects = true
	fsckobjects = true
	fsckObjects = true

[url "git@github.com:"]
	# helps in case the HTTPS version of repository was accidentally clone instead of SSH one
	insteadOf = "https://github.com/"

####################################################################################
############################## COMPANIES OVERWRITES ################################
####################################################################################

[includeIf "gitdir:~/tech/github.com/twig-ai"]
	path = "~/.config/git/organizations/twig.ai/config"

[includeIf "gitdir:~/tech/git.dev.cloud.mts.ru"]
	path = "~/.config/git/organizations/cloud.mts.ru/config"

[includeIf "gitdir:~/tech/gitlab.zxz.su"]
	path = "~/.config/git/organizations/yappi.media/config"

[includeIf "gitdir:~/tech/gitlab.com/tabby.ai"]
	path = "~/.config/git/organizations/tabby.ai/config"