[{{- .awscli_twig_ai_profile_name -}}]
    aws_access_key_id = {{ ( onepasswordDetailsFields .awscli_twig_ai_credentials_secret_id ).credential.value }}
    aws_secret_access_key = {{ ( onepasswordDetailsFields .awscli_twig_ai_credentials_secret_id ).username.value }}
